  .statsContainer {
    padding: 20px;
  }

  .tableWrapper {
    width: 100%;
    overflow-x: auto;
  }

  .statsTable {
    width: 100%;
    border-collapse: collapse;
  }

  .statsTable th,
  .statsTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }

  .statsTable th {
    background-color: #264653;
    color: #fff;
  }
  
  .navbarTitle {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
  }

  /* Footer styling */
.userFooter {
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: #264653; /* Darker color for better contrast */
    color: #fff;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .userContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #f9f9f9;
  }
  
  /* Styles for the page title */
  .pageTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
  }
  
  /* Styles for the content area */
  .content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .signOutButton {
    background-color: #c1121f; /* Darker color for better contrast */
    color: white;
    padding: 8px 16px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }