/* About.module.css */
.aboutPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 20px;
}

.secondaryScreenOptions {
  grid-column: span 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.arrow {
  margin-left: 10px;
}

.rules {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.players {
  grid-column: span 4;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-weight: bold;
  margin-bottom: 10px;
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  width: 100px;
  text-align: center;
  margin-bottom: 10px;
}

.topRight {
  grid-column: span 4;
  display: flex;
  justify-content: flex-end;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
}

.button {
  margin: 5px;
  padding: 10px 20px;
}
