/* General container styles for the entire user page */
.userContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

/* Navbar styling */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    background-color: #264653; /* Darker color for better contrast */
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.navbarTitle {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.navMenu {
    display: flex;
    gap: 1rem;
}

.navItem {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.active {
    border-bottom: 2px solid #fff; /* Highlight active tab */
    font-weight: bold;
}

/* Footer styling */
.userFooter {
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: #264653;
    color: #fff;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Content area styling */
.userContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #f9f9f9;
}

.freeAgencyPage {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.players {
    margin-top: 20px;
    width: 100%;
}

/* Header and player rows */
.headerRow, .playerRow {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.headerRow {
    background-color: #264653;
    color: white;
    font-weight: bold;
}

.playerRow {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}

/* Column styling for alignment */
.playerNameColumn {
    flex: 2;
    display: flex;
    justify-content: flex-end; /* Right justify the name */
    align-items: center;
}

.centerColumn {
    flex: 1;
    display: flex;
    justify-content: center; /* Center align shots left */
    text-align: center;
}

.rightColumn {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Right justify total points */
    text-align: right;
}

/* Player name with colored circle */
.playerName {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.colorCircle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

/* Sign out button */
.signOutButton {
    background-color: #c1121f;
    color: white;
    padding: 8px 16px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signOutButton:hover {
    background-color: #a60e1a;
}
