
/* Footer styling */
.userFooter {
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: #264653;
    color: #fff;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Content area styling */
.userContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #f9f9f9;
}

.freeAgencyPage {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.players {
    margin-top: 20px;
    width: 100%;
}

/* Header and player rows */
.headerRow, .playerRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three columns with different widths */
    align-items: center;
    padding: 10px 0;
  }

.headerRow {
    background-color: #264653;
    color: white;
    font-weight: bold;
}

.playerRow {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}
.fireIcon {
    margin-left: 5px;
    font-size: 18px;
    color: red;
  }

  .coldIcon {
    margin-left: 5px;
    font-size: 18px;
    color: blue;  /* Blue for the cold icon */
  }
.seasonTitle {
    font-size: 3rem;
    font-weight: bold;
    color: #264653; /* Updated color for consistency */
    text-align: center;
    margin-bottom: 20px;
  }
/* Column styling for alignment */
.playerNameColumn {
    display: flex;
    justify-content: flex-start; /* Align left */
    align-items: center;
  }

  .shotsLeftColumn {
    display: flex;
    
    
  }
  
  .totalPointsColumn {
    display: flex;
    
  }
  
  /* Player name with colored circle */
  .playerName {
    display: flex;
    align-items: center;
    font-weight: bold;
  }

.colorCircle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

/* Sign out button */
.signOutButton {
    background-color: #c1121f;
    color: white;
    padding: 8px 16px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signOutButton:hover {
    background-color: #a60e1a;
}
