/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative; /* Add relative positioning to position the X button */
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: black; /* Ensure text is black */
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.points button, .actions button {
  margin: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out; /* Add transition for shadow and background color */
}

h2, p, span, button {
  color: black; /* Ensure text is black */
}

/* X Close Button Styles */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.close-button:hover {
  color: red; /* Optional: Change color on hover */
}

/* Default button styles */
button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #e0e0e0;
}

/* Add shadow to show a button is clicked/toggled */
button.selected {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect for selected buttons */
  background-color: #d4edda; /* Optional: Slight color change for selected button */
}
.highlight-moneyball {
  color: red;
  font-weight: bold;
}
/* Highlight the moneyball button with a red border */
.highlight-moneyball-button {
  border: 2px solid red;
}
/* Slightly increase shadow on hover to enhance feedback */
button.selected:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}