
.body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.appHeader {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.appContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.btnHover {
  background-color: #21a1f1;
}

.roleMessage {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.appFooter {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav ul li {
  margin: 10px 0;
}

.nav ul li a {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
}
