.adminContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .adminHeader {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
  }
  
  .adminContent {
    padding: 20px;
    text-align: center;
  }
  
  .adminFooter {
    margin-top: auto;
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  