.userContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
  }
  
  .navMenu {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  
  .navItem {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  /* Navbar styling */
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    background-color: #264653; /* Darker color for better contrast */
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
  }
  .active {
    /* inverted color due to needing to invert the logo */
    border-bottom: 2px solid #000000; /* Highlight active tab */
    font-weight: bold;
  }
  
  .navbarTitle {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
  