/* sidebar.module.css */
.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #f4f4f4;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  padding: 20px;
  z-index: 1000;
}

.sidebarOpen {
  right: 0;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.sidebarContent .option {
  margin: 20px 0;
  font-size: 1.2rem;
  cursor: pointer;
}
