.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.userHeader {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.userContent {
  padding: 20px;
  text-align: center;
}

.userFooter {
  margin-top: auto;
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
  text-align: center;
}
