.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 20px;
  }
  
  .secondary-screen-options {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .secondary-screen-options .arrow {
    margin-left: 10px;
  }
  
  .rules {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .players {
    grid-column: span 4;
    display: flex;
    justify-content: space-around;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .top-right {
    grid-column: span 4;
    display: flex;
    justify-content: flex-end;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
  }
  